body {
  background: #f8f8f8;
  font-family: Roboto;
  font-style: normal;
  line-height: 18px;
  font-weight: 500;
  font-feature-settings: "tnum" on, "lnum" on;
}

.main__container,
.header__container {
  width: 1300px;

  padding-right: 59px;
  padding-left: 64px;

  display: flex;
  justify-content: space-between;  

  box-sizing: border-box;
}
.header__container {
  position: relative;
  align-items: center;
}
.main__container {
  flex-direction: column;

  padding-top: 50px;
  padding-bottom: 87px;
}


/*HEADER*/

.header{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2dc033;
  color: #fff;
  box-sizing: border-box;
}

.main-title {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown__menu {  
  position: relative;
  min-width: 70px;
  height: 70px;
}
.menu__title {
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown__list-container {
  min-height: 120px;
  width: 100%;
}
.dropdown__dropdown-list {
  opacity: 0;
  list-style: none;
  transition: all 0.1s ease-out;
}
.dropdown__menu:hover .dropdown__dropdown-list {
  opacity: 1;

  position: absolute;
  top: 76px;
  right: 0;

  width: 110px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
  transition: all 0.1s ease-out;
}
.dropdown__menu:hover .dropdown-list__item {
  padding: 10px 42px;
  color: #7B7B7B;
}
.dropdown-list__item:hover {
  background: #F7F5F5;
}
.dropdown__menu:hover .dropdown__dropdown-list a {
  color: #7B7B7B;
}
.dropdown__menu,
.dropdown-list__item a{
  text-transform: uppercase;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #fff;
}
.dropdown-list__item a {
  text-decoration: none;
}
.dropdown__arrow {
  position: relative;

  width: 10px;
  height: 5px;
  cursor: pointer;
}
.dropdown__arrow::after,
.dropdown__arrow::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  height: 2px;
  width: 7px;
  background-color: #fff;
  transform: rotate(45deg);
}
.dropdown__arrow::before {
  right: -15px;
  transform: rotate(-45deg);
}

/*MAIN*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*shares*/
.shares-section {
  display: flex;
  width: 1177px;
  justify-content: center;
}
.shares-section__shares-article {
  max-width: 560px;
}
.shares-section__shares-article:last-of-type {
  margin-left: 57px;
}
.shares-article__title {
  margin: 0;

  font-size: 20px;
  color: #333333;
}
.shares-article__shares-container {
  margin-top: 30px;
  padding: 28px 61px 49px 46px;

  background: #ffffff;
  border-radius: 8px;
}
.shares-container__shares-table {
  width: 850px;
  max-width: 453px;
  border-collapse: collapse;
}
.shares-table__shares-header {
  background: linear-gradient(
    90.5deg,
    rgba(143, 213, 28, 0.2) 0%,
    rgba(143, 213, 28, 0.2) 0.01%,
    rgba(255, 194, 60, 0.16) 46.95%,
    rgba(253, 134, 255, 0.1) 100.16%
  );
}
/*shares-header*/
.shares-header__col-title {
  padding: 11px 0;
  font-size: 14px;
}
.shares-header__first-col {
  width: 176px;
  border-radius: 8px 0 0 8px;
}
.shares-header__sec-col {
  width: 136px;
}
.shares-header__third-col {
  width: 87px;
}
.shares-header__forth-col {
  border-radius: 0 8px 8px 0;
}

/*shares-item*/
.shares-item__value {
  padding-top: 23px;

  font-size: 14px;
  text-align: left;
  color: #7B7B7B;
}
.shares-item__first-value {
  padding-left: 70px;
}
.shares-item__sec-value {
  padding-left: 50px;
}
.shares-item__third-value {
  padding-left: 23px;
}

.shares-item__btn-container{
  text-align: center;
  height: 30px;
}
.btn-container__delete-btn {
  background-color: #fff;

  border: none;

  color: #eb5757;
  cursor: pointer;
}

/*devider*/
.shares-container__devider{
  width: 560px;

  margin-top: 32px;
  margin-left: -46px;

  outline: 2.5px solid #F8F8F8;
}

/*shares-form*/

.shares-container__shares-form-container {
  margin-top: 80px;
}
.shares-form-container__shares-form {
  display: flex;
  align-items: center;
}
.shares-form__amount-container {
  position: relative;
}
.amount-container__btns {
  position: absolute;
  right: 3px;
  top: 3px;

  width: 63px;
  height: 24px;

  border-radius: 6px;  
  background: #FFFFFF;
}

.amount-container__input{
  width: 122px;
  height: 22px;

  padding: 5px 0 3px 17px;
  cursor: default;

  border: none;
  background: #faf8fb;
  border-radius: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #4f4e57;
}
.amount-container__input,
.price-container__input  {  
  position: relative;
  border: none;
  background: #faf8fb;
  border-radius: 8px;

  font-size: 16px;
  line-height: 22px;

  color: #4f4e57;
}
.amount-container__input::before {
  position: absolute;
  top: 0;
  content: " шт";

  z-index: 2;
}
.btns__less-btn,
.btns__more-btn {
  position: absolute;
  width: 31px;
  height: 24px;

  border: none;
  font-weight: 1000;

  cursor: pointer;
  background: none;
}
.btns__more-btn {
  right: 0;
}
.btns__more-btn::after,
.btns__more-btn::before,
.btns__less-btn::after {
  content: "";

  position: absolute;
  top: 12px;
  right: 7px;

  width: 14px;
  height: 0;

  border: 1px solid #34bc48;
  border-radius: 2px;

  background-color: #34bc48;

  z-index: 2;
}
.btns__more-btn::before {
  transform: rotate(90deg);
}
.btns__less-btn::after {
  left: 9px;
  border: 1px solid #909090;
  background-color: #909090;
}

.shares-form__price-container{
  margin-left: 37px;
}
.price-container__input {
  padding: 6px 0;

  width: 124px;
  height: 30px;
  box-sizing: border-box;

  text-align: center;

  font-size: 18px;
  line-height: 18px;
}

.shares-form__btn-container {
  margin-left: 29px;
}
.btn-container__btn-add {
  width: 123px;
  height: 40px;

  background: #34BC48;

  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  border-radius: 8px;
  border: none;

  cursor: pointer;
}
.btn-container__btn-add:hover {
  background: #0C9241;
}
.btn-container__btn-add:active,
.btn-container__btn-add:focus {
  background: #054146;
}

/*TABS*/
.tabs {
  margin-top: 42px;
  color: #4F4E57;
  font-size: 16px;
  line-height: 22px;
}
.tabs__items {
  position: relative;
}
.tabs__item {
  position: relative;
  padding: 12px;

  text-decoration-line: none;
  color: #4F4E57;
}
.tabs__items::before {
  content: "";

  position: absolute;
  top: 32px;
  left: 0;

  width: 270px;

  border-bottom: 2px solid #DFDFDF;
}
.body__block {
  position: relative;
  display: none;
  
  opacity: 0;
}
.body__block:target {
  display: flex;
  opacity: 1;
}
.body__block::before {
  content: "";

  position: absolute;
  top: 10px;

  border-bottom: 2px solid #34BC48;
}
.body__block:nth-of-type(1):before {
  left: 0;
  width: 88px;
}
.body__block:nth-of-type(2):before {
  left: 88px;
  width: 182px;
}
.block__average-price-container,
.block__desired-average-price-container,
.block__current-price {
  width: 270px;
  margin-right: 28px;
}
.average-price-container__position-cost,
.block__current-price,
.block__profit {
  margin-top: 30px;
}
.block__profit {
  margin-top: 80px;
}
.average-price-container__current-price,
.desired-average-price-container__desired-price {
  margin-top: 30px;
}
.current-price__title,
.profit__title,
.desired-price__title {
  font-size: 12px;
  line-height: 16px;
}
.current-price__input,
.desired-price__input {
  width: 100%;

  margin-top: 8px;
  padding: 8px 12px;

  background: #f8f8f8;

  border: 2px solid #c2eac8;
  border-radius: 8px;

  box-sizing: border-box;
}
.current-price__input,
.profit__price,
.desired-price__input {
  font-size: 16px;
  line-height: 22px;
  color:#909090;
}
.profit__price {
  margin-top: 15px;
  margin-bottom: 8px;
}
.desired-average-price-container__shares-amount {
  margin-top: 30px;
}